
<div class = "fleet-form-conatiner">
  <div class="container content-wrapper">

    <h2> {{ title }} </h2>

    <form class="form-group" [formGroup]="fleetForm" (ngSubmit)="onSubmit()">

      <label class="input-header">Department:</label><br>
      <input formControlName="department" type="text" class="form-control form-input"><br>

      <label class="input-header">Registration number:</label><br>
      <input formControlName="registrationNumber" type="text" class="form-control form-input"><br>

      <label class="input-header">Brand:</label><br>
      <input formControlName="brand" type="text" class="form-control form-input"><br>

      <label class="input-header">Model:</label><br>
      <input formControlName="model" type="text" class="form-control form-input"><br>

      <label class="input-header">ACRISS:</label><br>
      <input formControlName="acriss" type="text" class="form-control form-input"><br>

      <label class="input-header">Tires:</label><br>
      <input formControlName="tires" type="text" class="form-control form-input"><br>

      <label class="input-header">VIN:</label><br>
      <input formControlName="vin" type="text" class="form-control form-input"><br>

      <label class="input-header">Production year:</label><br>
      <input formControlName="productionYear" type="text" class="form-control form-input"><br>

      <label class="input-header">Status:</label><br>
      <select class="custom-select" formControlName="status">
        <option value="0">Ghost</option>
        <option value="1">Avilable</option>
        <option value="2">In use</option>
        <option value="3">In service</option>
        <option value="4">Withdrawn</option>
     </select><br><br>

      <div *ngIf="message" class="alert alert-danger">{{ message }}</div>

      <button class="btn btn-outline-dark btn-from" type="submit"> {{ buttonFunction }} </button>

    </form>

    <button class="btn btn-outline-dark btn-from" (click)="onBack()"> BACK </button>

  </div>
</div>
