
<div class="grid-conatiner">

  <button (click)="displaySelected()" class="btn btn-outline-dark btn-grid mr-5">EDIT</button>

  <button (click)="createNew()" class="btn btn-outline-dark btn-grid">ADD</button>

  <ag-grid-angular
    #leasesGrid
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    class = "ag-theme-balham standard-grid">
  </ag-grid-angular>

</div>
