<h2>Intranet</h2>

<div class="row w-100">

    <div class="col-10">
        <div class="ag-grid-container">
            <ag-grid-angular #forumSummaryGrid [columnDefs]="columnDefs" [rowData]="rowData"
                class="ag-theme-balham standard-grid">
            </ag-grid-angular>
        </div>
    </div>

    <div class="col-2">
      <br>
        <button class="btn btn-primary first-btn" (click)="openAddPost()">Add post</button>
        <br><br>
        <button class="btn btn-secondary mt-1" class="btn btn-outline-dark" (click)="openShowPost()">Show</button>
        <br><br>
        <button class="btn btn-secondary mt-1" class="btn btn-outline-dark" (click)="openEditPost()">Edit</button>
        <br><br>
        <button class="btn btn-secondary mt-1" class="btn btn-outline-dark" (click)="deletePost()">Delete</button>
    </div>

</div>

