
<div class="row mt-n11 pb-15n">
    <div class = "formContainer col-lg-6 offset-lg-3">

        <h2>CarRent Assistant</h2>

        <img class="logo" src="assets/img/logo.png">

        <form class="form-group" [formGroup]="authForm" (ngSubmit)="onSubmit()">

            <label class="input-header">Login:</label><br>
            <input formControlName="login" type="text" class="form-control form-input"><br>

            <label class="input-header">Password:</label><br>
            <input formControlName="password" type="password" class="form-control form-input"><br>


            <div *ngIf="message" class="alert alert-danger">{{ message }}</div>

            <button class="btn btn-outline-dark" type="submit">LOGIN</button>

        </form>

    </div>
    </div>
