
.formContainer {
    background-color: white;
    height: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 25px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 150px;
}

.loginForm {
    font-size: 25px;
}

.loginForm.input {
    font-size: 30;
}

.title {
    font-size: 45;
    font-weight: 600;
}

.logo {
    width: 100%;
    max-width: 200px;
    margin: 10px;
}

.input-header input {
  font-size: 30;
  border: none;
  border-bottom:2px solid black ;
}
