
<div class="main-conainer">

  <div class="app-top-nav">
    <span *ngIf="user" class="user-data">User: {{ user.name }}</span>
    <button class="btn btn-outline-dark btn-top">SETTINGS</button>
    <button class="btn btn-outline-dark btn-top" (click)="logout()">LOGOUT</button>
  </div>

  <div class="main-nav">
    <img class="brand-logo" src="assets/img/logo.png">
    <span class="brand-title">CarRent</span>
    <ul class="navi-list">
      <li class="navi-item" (click)="loadComponent(1)">Dashboard</li>
      <li class="navi-item" (click)="loadComponent(2)">Users</li>
      <li class="navi-item" (click)="loadComponent(3)">Fleet</li>
      <li class="navi-item" (click)="loadComponent(4)">Leases</li>
      <li class="navi-item" (click)="loadComponent(5)">Tasks</li>
      <li class="navi-item" (click)="loadComponent(6)">Clients</li>
      <li class="navi-item" (click)="loadComponent(7)">Documents</li>
    </ul>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>
