
.main-conainer {
  display: inline-block;
  width: 100vw;
}

.main-content {
  background-color: rgb(233, 232, 232);
  margin-left: 300px;
  height: 100vw;
  min-height: 100%;
  width: 100%;
}

.main-nav {
  height: 100vw;
  min-height: 100%;
  background: white;
  width: 300px;
  margin: 0;
  padding: 0;
  border-right: 2px solid black;
  float: left;
  display: block;
}

.brand-logo {
  max-width: 150px;
  margin: 0;
  padding: 0;
}

.brand-title {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.navi-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
}

.navi-item {
  font-size: 21px;
  font-weight: 500;
  margin: 10px;
  padding: 10px;
  border-bottom: 1.4px solid black;
}
.navi-item:hover {
  cursor: pointer;
  color: #FE5800;
  font-weight: 600;
}

/*
  top navbar
*/
.app-top-nav {
  margin: 0;
  padding: 5px;
  height: 40px;
  border-bottom: 1.3px solid 	#484848;
}

.user-data {
  font-size: 22px;
  padding-left: 40%;
  padding-right: 20px;
}

.btn-top {
  border: 1px solid black;
  font-size: 15px;
  width: 100px;
  height: 25px;
  border-radius: 2px;
  margin-right: 5px;
  padding: 2px;
}
