
<div class = "users-form-conatiner">
  <div class="container content-wrapper">

    <h2> {{ title }} </h2>

    <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <label class="input-header">Name:</label><br>
      <input formControlName="name" type="text" class="form-control form-input"><br>

      <label class="input-header">Login:</label><br>
      <input formControlName="login" type="text" class="form-control form-input"><br>

      <div *ngIf="!edit">
        <label class="input-header">Password:</label><br>
        <input formControlName="password" type="password" class="form-control form-input"><br>
      </div>

      <label class="input-header">Email:</label><br>
      <input formControlName="email" type="email" class="form-control form-input"><br>

      <label class="input-header">Role:</label><br>
      <select class="custom-select" formControlName="role">
        <option value="0">Administrator</option>
        <option value="1">Director</option>
        <option value="2">Office</option>
        <option value="3">Driver</option>
        <option value="4">Broker</option>
     </select><br><br>

      <label class="input-header">Department:</label><br>
      <input formControlName="department" type="text" class="form-control form-input"><br>

      <div *ngIf="message" class="alert alert-danger">{{ message }}</div>

      <button class="btn btn-outline-dark btn-from" type="submit"> {{ buttonFunction }} </button>

    </form>

    <button class="btn btn-outline-dark btn-from" (click)="onBack()"> BACK </button>

  </div>
</div>
