
.dashboard-container {
  padding: 15px;
  padding-left: 5vw;
}

.chart-wrapper {
  background-color: white;
  padding-top: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px black;
}

.table-wrapper {
  background-color: white;
  padding-top: 25px;
  box-shadow: 5px 5px 5px black;
}

.table-margins {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}
