<div class="row dashboard-container">

  <div class="col-4 chart-wrapper">
    <h2>Leases</h2>
    <canvas
      class="chart"
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType">
    </canvas>
  </div>

  <div class="offset-1 col-4 chart-wrapper">
    <h2>Fleet content</h2>
    <canvas
      class="chart"
      baseChart
      [data]="polarAreaChartData"
      [labels]="polarAreaChartLabels"
      [legend]="polarAreaLegend"
      [chartType]="polarAreaChartType">
    </canvas>
  </div>

  <div class="col-9 table-wrapper">
    <div class="table-margins">
      <app-forum-summary></app-forum-summary>
    </div>
  </div>

</div>
