
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
}

.row {
  width: 100vw;
}

.btn {
    width: 100%;
}

.form-input {
    width: 80%;
}

.input-header {
    font-weight: 600;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body { height: 100%; }
body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; }


/*
  grid
*/
.grid-conatiner {
  width: 80%;
  padding: 50px;
}

.standard-grid {
  width: 100%;
  height: 600px;
}

.btn-grid {
  margin-bottom: 25px;
  width: 200px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
