
<div class="documents-conatiner">

  <button (click)="preview()" class="btn btn-outline-dark btn-grid mr-5">PREVIEW</button>

  <button (click)="download()" class="btn btn-outline-dark btn-grid mr-5">DOWNLOAD</button>

  <button *ngIf="fileUrl" (click)="hide()" class="btn btn-outline-dark btn-grid">HIDE</button>

  <ag-grid-angular
    *ngIf="!fileUrl"
    #usersGrid
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    class = "ag-theme-balham standard-grid">
  </ag-grid-angular>

  <ngx-extended-pdf-viewer
    *ngIf="fileUrl"
    [src]="fileUrl"
    useBrowserLocale="true"
    class="pdf-viewer"
    height="700px">
  </ngx-extended-pdf-viewer>

</div>


