<div class="modal-header">
  <h4 class="modal-title">{{name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
   <form [formGroup]="postForm">
    <div class="form-group">
      <label for="postTitle">Post title:</label>
      <input id="postTitle" class="form-control" placeholder="Post title" type="text" formControlName="postTitle">
    </div>
    <div class="form-group">
      <label for="postCategory">Select category</label>
      <select class="btn btn-light dropdown-toggle" id="postCategory" formControlName="postCategory">
        <option value="">Choose category</option>
        <option *ngFor="let category of postCategories; let i = index" [ngValue]="i">{{category}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="postMessage">Post message</label>
      <textarea id="postMessage" class="form-control" placeholder="Post message" formControlName="postMessage"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="loading">
    <span *ngIf="loading" class="spinner-border"></span>
    {{submitButtonText}}</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
